<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>수정 화면</title>
<meta charset="UTF-8">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- 너무 상단에 붙어 있으므로 조금 떨어 트리기 위해  -->
<style>
	body {
	padding-top: 70px;
	padding-bottom: 30px;
	}
</style>
<script>
		console.log("수정 화면");
		// 유효성 검사 완료
		$(document).ready(function(){
	        $('#submit').click(function(){
	        	$('#modifyBoard').submit(function(event){
	        		if($('#boardTitle').val().length<1){
		            	$('#boardTitle').attr('placeholder','제목을 입력해 주세요.');
		            	$('#boardTitle').focus();
		            	return false;
	        		}else if($('#boardContent').val().length<1){
	        			$('#boardContent').attr('placeholder', '내용을 입력해 주세요.');
	        			$('#boardContent').focus();
	        			return false;
	        		}
	        	});
	        });
	    });
	</script>

</head>
	<body>
		<div class="container form-group">
		<h1>ModifyBoard</h1>
		<form action="/modifyBoard"  id="modifyBoard" method="post">
			<tr th:each="b : ${board}">
							<div class="mb-3">
								<label for="boardNo">No</label>
								<input th:value="${b.boardNo}" type="text" class="form-control" name="boardNo" readonly>
							</div>
					
							<div class="mb-3">
								<label for="boardTitle">제목</label>
								<input th:value="${b.boardTitle}" type="text" class="form-control" name="boardTitle" id="boardTitle" >
							</div>
					
							<div class="mb-3">
			
								<label for="boardContent">내용</label>
								<!--<textarea th:value="${b.boardContent}" class="form-control" name="boardNo" ></textarea> -->
								<textarea th:value="${b.boardContent}" th:inline="text" class="form-control" rows="3"  name="boardContent" id="boardContent" >[[*{b.boardContent}]]</textarea>
							</div>
					
							<div class="mb-3">
			
								<label for="boardUser">작성자</label>
								<input th:value="${b.boardUser}" type="text" class="form-control" name="boardUser" readonly>
	
							</div>
					
							<div class="mb-3">
					
								<label for="boardDate">날짜</label>
								<input th:value="${b.boardDate}" type="text" class="form-control" name="boardDate" readonly>
					
								<!-- <button type="button" class="btn btn-sm btn-primary" id="btnSave">저장</button>
		 -->			
							</div>
					
							<td>
								<input class="btn btn-primary" type="submit" id="submit" value="수정하기">
							</td>
						</tr> 	
					</table>
				</form> 
		</article>
	</body> 
</html>
<a th:href="@{/boardList(currentPage=${currentPage})}">[리스트로 돌아가기]</a>